.venv/
venv/
**/__pycache__/
*.pyc
.git/
.github/
.gitignore
.idea/
.vscode/
tests/
requirements-dev.txt
.pytest_cache/
.coverage
htmlcov/
*.md
.CLAUDE/
data/
*.env
build/
build_info.py
/assets/legacy